VITE_SITE_TITLE=Pauli Baby
VITE_SITE_TAGLINE=Notes from my corner of the internet.
VITE_SITE_INTRO=Publish JSON blobs to Azure and let the site do the rest.
VITE_SITE_OWNER=Pauli Baby
VITE_AZURE_BLOG_CONTAINER_URL=https://<storage-account>.blob.core.windows.net/<container>?<sas-token-optional>
